@import 'tailwindcss';


@font-face {
    font-family: 'Caveat';
    src: url('/src/assets/fonts/Caveat/static/Caveat-Regular.ttf');
}

::-webkit-scrollbar {
    display: none;
}

@keyframes fade-in {
        
    from{

        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

#fade-in{

    animation: fade-in 0.5s ease-out backwards;
}

#link:hover  {

    color: blue;
}

#add:hover{

    color: blue;

}

